<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"><!--  360浏览器默认用极速核(webkit)  -->
    <title>ALLGIF</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--避免IE使用兼容模式-->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="screen-orientation" content="portrait"><!--  UC强制竖屏  -->
    <meta name="x5-orientation" content="portrait"/><!--  QQ强制竖屏  -->
    <!--<meta name="full-screen" content="yes">&lt;!&ndash;  UC强制全屏  &ndash;&gt;-->
    <meta name="x5-fullscreen" content="true"/><!--  QQ强制全屏  -->
    <!--<meta name="browsermode" content="application"/>&lt;!&ndash;  UC应用模式  &ndash;&gt;-->
    <meta name="x5-page-mode" content="app"/><!--  QQ应用模式  -->
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="msapplication-tap-highlight" content="no"/><!-- windows phone 点击无高光 -->
    <meta name="description" content="GIF">
    <meta name="keywords" content="GIF">
    <link href="gifdemo.css" rel="stylesheet" type="text/css" />
    <script src="zepto.js"></script>
    <!--<link href="resource/images/logo.ico" type="image/x-icon" rel="shortcut icon" />-->
    <!--<link rel="apple-touch-icon" href="resource/images/icon.png" />-->
    <!--<link rel="apple-touch-icon-precomposed" href="resource/images/icon.png" />-->
</head>
<body>
<ul class="txtlist">
   <li class="showlist" style="padding: 10px; background:#333; display: inline-block; margin: 10px;color:#fff;">显示列表</li>
</ul>
<div class="txt" style="width: 500px; height: auto; font-size: 14px; margin-top: 30px;">

</div>
<script src="toolkit.js"></script>
<script src="gifdemo.js"></script>
</body>
</html>